Тетрадка предназначена для студентов образвательного проекта Booster MDS использование вне проекта запрещено.

##### Задания не несут смысловой нагрузки для реальной жизни, они сделаны лишь для того, чтоб научить использовать Pandas

#### Каждое задание оценивает в 1 балл, для успешной сдачи задания нужно набрать 12 баллов

This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to this date. The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 1.

https://www.kaggle.com/ronitf/heart-disease-uci

___

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('heart_pandas.csv')

In [3]:
data.head(5)

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non-anginal pain,145,233,greater than 120mg/ml,normal,150,no,2.3,upsloping,0,normal,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,ST-T wave abnormality,187,no,3.5,upsloping,0,fixed defect,1
2,41,female,typical angina,130,204,lower than 120mg/ml,normal,172,no,1.4,flat,0,fixed defect,1
3,56,male,typical angina,120,236,lower than 120mg/ml,ST-T wave abnormality,178,no,0.8,flat,0,fixed defect,1
4,57,female,typical angina,120,354,lower than 120mg/ml,ST-T wave abnormality,163,yes,0.6,flat,0,fixed defect,1

In [4]:
list(data)

['age',
 'sex',
 'chest_pain_type',
 'resting_blood_pressure',
 'cholesterol',
 'fasting_blood_sugar',
 'rest_ecg',
 'max_heart_rate_achieved',
 'exercise_induced_angina',
 'st_depression',
 'st_slope',
 'num_major_vessels',
 'thalassemia',
 'target']

#### Описание признаков

**age**: The person's age in years

**sex**: The person's sex (1 = male, 0 = female)

**cp**: The chest pain experienced (Value 1: typical angina, Value 2: atypical angina, Value 3: non-anginal pain, Value 4: asymptomatic)

**trestbps**: The person's resting blood pressure (mm Hg on admission to the hospital)

**chol**: The person's cholesterol measurement in mg/dl

**fbs**: The person's fasting blood sugar (> 120 mg/dl, 1 = true; 0 = false)

**restecg**: Resting electrocardiographic measurement (0 = normal, 1 = having ST-T wave abnormality, 2 = showing probable or definite left ventricular hypertrophy by Estes' criteria)

**thalach**: The person's maximum heart rate achieved

**exang**: Exercise induced angina (1 = yes; 0 = no)

**oldpeak**: ST depression induced by exercise relative to rest ('ST' relates to positions on the ECG plot. See more here)

**slope**: the slope of the peak exercise ST segment (Value 1: upsloping, Value 2: flat, Value 3: downsloping)

**ca**: The number of major vessels (0-3)

**thal**: A blood disorder called thalassemia (3 = normal; 6 = fixed defect; 7 = reversable defect)

**target**: Heart disease (0 = no, 1 = yes)

> 1. age 
> 2. sex 
> 3. chest pain type (4 values) 
> 4. resting blood pressure 
> 5. serum cholestoral in mg/dl 
> 6. fasting blood sugar > 120 mg/dl
> 7. resting electrocardiographic results (values 0,1,2)
> 8. maximum heart rate achieved 
> 9. exercise induced angina 
> 10. oldpeak = ST depression induced by exercise relative to rest 
> 11. the slope of the peak exercise ST segment 
> 12. number of major vessels (0-3) colored by flourosopy 
> 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

___

**1) Сколько мужчин в датасете? Сколько женщен? (sex)**

In [5]:
## Ваш код
data['sex'].value_counts()

male      207
female     96
Name: sex, dtype: int64

In [ ]:
## Ваш ответ: 207 мужчин, 96 женщин

 **2) Какой процент мужчин в датасете? (решите в одну строчку, не используя предыдущий результат. Не забудте знак процента)**

In [6]:
## Ваш код
'{:.2%}'.format(data[data['sex']=='male']['sex'].count()/len(data))

'68.32%'

In [ ]:
## Ваш ответ:

**3) Сколько мужчин имеют заболевание сердца? Сколько женщин имеют заболевание сердца?**

In [8]:
## Ваш код
print(data[data['sex']=='male']['target'].sum(), 'М имеют заболевание сердца')
print(data[data['sex']=='female']['target'].sum(), 'Ж имеют заболевание сердца')

93 М имеют заболевание сердца
72 Ж имеют заболевание сердца

In [ ]:
## Ваш ответ:

**4) Какую долю, от общего числа пациентов, занимают мужчины не имеющие болезнь сердца?**

In [9]:
## Ваш код
data[(data['sex']=='male') & (data['target']==0)].shape[0]/len(data)

0.37623762376237624

In [ ]:
## Ваш ответ:

**5) Сколько лет самому молодому пациенту, страдающему болезнью сердца?**

In [10]:
## Ваш код
data[data['target']==1]['age'].min()

29

In [ ]:
## Ваш ответ:

**6) Сколько лет самому возастному пациенту, у которого нет проблем с сердцем?**

In [11]:
## Ваш код
data[data['target']==0]['age'].max()

77

In [ ]:
## Ваш ответ:

**7) Сколько лет самой молодой женщине, которая страдает болезнью сердца?**

In [12]:
## Ваш код
data[(data['sex']=='female') & (data['target']==1)]['age'].min()

34

In [ ]:
## Ваш ответ:

**8) Какой средний возраст женщин?**

In [13]:
## Ваш код
data[data['sex']=='female']['age'].mean()

55.677083333333336

In [ ]:
## Ваш ответ:

**9) Каковы средние значения и среднеквадратичные отклонения возраста тех, кто страдают болезнью сердца?**

In [14]:
## Ваш код
print('средний возраст тех, кто болен:', data[data['target']==1]['age'].mean())
print('среднекв. откл. возраста тех, кто болен:', data[data['target']==1]['age'].std())

средний возраст тех, кто болен: 52.4969696969697
среднекв. откл. возраста тех, кто болен: 9.550650751946778

In [ ]:
## Ваш ответ:

**10) Правда ли, что люди не болеющие болезнью сердца имеют уровня холестерина меньше среднего? (chol)**

In [15]:
## Ваш код
(data[data['target']==0]['cholesterol'].mean())<(data['cholesterol'].mean())

False

In [ ]:
## Ваш ответ: Не правда

**11) Выведите статистику rest_ecg для все числовых признаков, его максимально и среднее значение (используйте groupby(), решите в одну строчку)**

In [ ]:
## Ваш код
data.groupby(['rest_ecg'])[list(data.select_dtypes(include=['int64', 'float64']).columns)].agg([np.max, np.mean])

In [ ]:
## Ваш ответ:

**12) Посчитайте у кого уровень депрессии при физический нагрузке выше (в среднем), среди мужчин страдающих болезнью сердца или среди женщин не страдающих болезнью сердца (st_depression)**

In [ ]:
## Ваш код
print('ср. ур. дипр. при физ.нагрузке у М, страдающих болезнью сердца:', data[(data['sex']=='male') & (data['target']==1)]['st_depression'].mean())
print('ср. ур. дипр. при физ.нагрузке у Ж, не страдающих болезнью сердца:', data[(data['sex']=='female') & (data['target']==0)]['st_depression'].mean())

In [ ]:
## Ваш ответ: у женщин, не страдающих болезнью сердца

**13) Посчтитайте максимальный и минимальный уровень холестерина для каждого типа chest_pain_type, rest_ecg, thalassemia. Пишите код оптимально, можно использовать циклы**

In [ ]:
## Ваш код
l = ['chest_pain_type', 'rest_ecg', 'thalassemia']
for i in l:
    print(data.pivot_table(['cholesterol'], i, aggfunc=['max', 'min']))
    print(sep='\n')

In [ ]:
## Ваш ответ:

**14) Сколько значений может принимать каждый из категориальных признаков?**

In [ ]:
## Ваш код
data['target'] = data['target'].apply(str)
cat_col = list(data.select_dtypes(include=['object']).columns)
for i in cat_col:
    print(i, ':', data[i].nunique())

In [ ]:
## Ваш ответ:

**15) У какого категориального признака наблюдается самый сильный дизбаланс классов?**

In [ ]:
## Ваш код
cat_col = list(data.select_dtypes(include=['object']).columns)
disbal = []

for i in cat_col:
    l = data[i].unique().tolist()
    a = []
    for j in l:
        a.append(data[data[i]==j].shape[0]/data.shape[0])
    disbal.append([i, max(a) - min(a)]) 
print(max(disbal, key=lambda x: x[1]))

In [ ]:
## Ваш ответ:

---

@Booster
Мамкин Data Scientist

tg @mommyscience